<div class="row">
  <div class="col-md-12">
    <h1>Welcome Pazza shop</h1>
  </div>
</div>


<div class="row">
  <% @products.each do |p| %>
      <div class="col-md-4">
          <h5><%= p.title %></h5>
        <img src="<%= p.path_to_image %>" class="img-fluid">
        <p><%= p.description %></p>
        <button type="button" class="btn btn-primary">
          Price <span class="badge badge-light">$ <%= p.price %></span>
        </button>
      </div>
  <% end %>
</div>


<button class="btn btn-primary" onclick="something()">Click me!</button>


